@charset "utf-8";

//业务
header {
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}

html, body {
  width: auto;
  height: auto;
  overflow: scroll;
}

.container {
  height: auto;
}

#aboutZhiliao {
  background: #fbfbfb;
  color: #3c3c3c;
  font-size: 16px;

  .media-font {
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .title {
    color: #6a6a6a;
  }

  .light {
    color: #157bdb;
  }

  .media-start {

  }

  .zhiliao-what {
    font-size: 29px;
    margin-top: 177px;
    margin-bottom: 53px;
    text-align: center;
  }

  .zhiliao-desc {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 142px;
    line-height: 30px;
    padding: 0 79px;
  }

  .zhiliao-teachers {
    color: #5c5c5c;
    .teacher-name {
      font-size: 18px;
      margin-top: 25px;
    }
    .teacher-school {
      font-size: 16px;
    }
    .teacher-desc {
      margin-top: 49px;
      padding-left: 50px;
      text-align: left;
      padding-right: 40px;
      line-height: 28px;
    }
  }

  .us {
    color: #3c3c3c;
    font-size: 28.5px;
    margin-top: 184px;
    margin-bottom: 122px;
    text-align: center;
  }
}

.section-two {
  background: #f8f8f8;
  padding-top: 106px;
  padding-bottom: 137px;
}

.section-three {
  background: #fbfbfb;
  padding-bottom: 160px;

}

.contact {
  color: #6b6b6b;
  font-size: 14px;
  .title {
    font-size: 16px;
    color: #3c3c3c;
  }
  .small {
    font-size: 11px;
    margin-top: 4px;
  }
  .code {
    margin-left: 48px;
  }

  .line {
    height: 92px;
    width: 1px;
    background: #ebebeb;
    margin-right: 50px;
  }
}



