@charset "utf-8";
//图片的引用

.ui-img{
  background-image: url("../../imgs/ui.png");
  background-size: 1000px 2000px;
}


//2x屏幕
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
  .ui-img{
    background-image: url("../../imgs/ui@2x.png");
    background-size: 1000px 2000px;
  }
}







//logo
.logo{
  background-position:  0 0;
  width: 110px;
  height: 40px;
}

//向下箭头
.arrow-down{
  background-position: 0 -40px;
  width: 44px;
  height: 44px;
}

//point点
.point-circle{

  background-position: 0 -96px;
  width: 12px;
  height: 12px;

  &.active{
    background-position: 0 -85px;
  }
}

//android
.android-icon{
   width: 45px;
   height: 56px;

  background-position: -89px -164px;
}

//ios
.ios-icon{
  width: 45px;
  height: 56px;
  background-position: 2px -164px;

}





//麦克风
.microphone{
  width: 41px;
  height: 56px;
  background-position: -45px -108px;
}

//照相机
.camera{
  width: 51px;
  height: 56px;
  background-position: -85px -108px;
}

//时间
.timer{
  width: 49px;
  height: 56px;
  background-position: -136px -108px;
}

//麦克风蓝色
.microphone-blue{
  width: 33px;
  height: 47px;
  background-position: -184px -108px;

  position: relative;
  top: 16px
}


//zhiliao
.zhiliao-font{
  background-position: 0 -361px;
  width: 136px;
  height: 61px;
}


//大圆
.big-circle{
//  background-position: 0 -760px;
  background-position: 0 -761px;
  width: 268px;
  height: 268px;

  position: relative;
  z-index: 4;
}

.middle-circle{
  width: 205px;
  height: 206px;
  background-position: 0 -1028px;

  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -104.5px;
  margin-top: -103px;
  text-align: center;
  z-index: 5;
}

//版本
.version{
   width: 70px;
  height: 30px;
  background-position: -143px -164px;
}
//安全
.safe{
  width: 143px;
  height: 142px;
  background-position: 0 -220px;
  position: absolute;
  top: 64px;
  left: 61px;
}
.timer-slice{
//  width: 571px;
//  height: 88px;

  width:489px;
  height: 75px;

  background-position: 0 -422px;
  margin-top: 115px;
  margin-left: -76px;
}



//white
.white-chat{
  width: 333px;
  height: 98px;
  background-position: 0 -662px;
}


.blue-chat{
  width: 333px;
  height: 66px;
  background-position: 0 -596px;
}