.ui-img {
  background-image: url("../../imgs/ui.png");
  background-size: 1000px 2000px; }

.logo {
  background-position: 0 0;
  width: 110px;
  height: 40px; }

.arrow-down {
  background-position: 0 -40px;
  width: 44px;
  height: 44px; }

.point-circle {
  background-position: 0 -96px;
  width: 12px;
  height: 12px; }
  .point-circle.active {
    background-position: 0 -85px; }

.android-icon {
  width: 45px;
  height: 56px;
  background-position: 0 -108px; }

.ios-icon {
  width: 45px;
  height: 56px;
  background-position: 0 -164px; }

.microphone {
  width: 41px;
  height: 56px;
  background-position: -45px -108px; }

.camera {
  width: 51px;
  height: 56px;
  background-position: -85px -108px; }

.timer {
  width: 49px;
  height: 56px;
  background-position: -136px -108px; }

.zhiliao-font {
  background-position: 0 -361px;
  width: 136px;
  height: 61px; }

.timer-slice {
  width: 571px;
  height: 88px;
  background-position: 0 -422px;
  margin-top: 115px;
  margin-left: -76px; }

.white-chat {
  width: 333px;
  height: 98px;
  background-position: 0 -662px; }

.blue-chat {
  width: 333px;
  height: 66px;
  background-position: 0 -596px; }

#zhiliaoPage > .section {
  overflow: hidden; }

header .logo {
  display: table-cell;
  vertical-align: middle; }

nav.nav {
  font-size: 18px;
  color: #3d3d3d;
  height: 60px; }
  nav.nav ul {
    clear: both;
    display: table-cell;
    vertical-align: middle; }
    nav.nav ul li {
      float: left;
      margin-right: 55px; }
      nav.nav ul li:last-child {
        margin-right: 0; }
      nav.nav ul li.last-nav {
        margin-right: 0; }
      nav.nav ul li a {
        color: #3d3d3d;
        display: block;
        padding: 10px 12px; }
      nav.nav ul li.active a {
        color: #1190e0; }

.zhiliao-font-desc {
  font-size: 44px;
  margin-top: 22px;
  margin-bottom: 173px; }

.title-font {
  color: #3c3c3c;
  font-size: 28.5px; }
  .title-font .active {
    color: #f3985b;
    font-size: 41px; }

.start-zhiliao {
  position: absolute;
  bottom: 20px;
  display: inline-block;
  left: 50%;
  margin-left: -54px; }
  .start-zhiliao p {
    font-size: 18px; }

.iphone-right {
  position: absolute;
  bottom: -256px;
  right: 0px; }

.fun {
  margin-top: 88px; }
  .fun span {
    margin-right: 56px; }

.chat-info > .ib {
  vertical-align: top; }
.chat-info .chat-hd {
  margin-right: 15px;
  margin-left: 0; }
.chat-info .user-name {
  color: #626262;
  font-size: 16px;
  margin-left: 11px; }
.chat-info p {
  color: #000;
  font-size: 24px;
  margin-top: 9px; }
.chat-info .white-chat span {
  margin-left: 39px;
  margin-right: 31px;
  margin-top: 13px; }
.chat-info .blue-chat span {
  margin: 17px;
  margin-left: 30px;
  color: #ffffff; }
.chat-info.blue .user-name {
  left: -17px;
  position: relative; }
.chat-info.blue .chat-hd {
  margin-left: 15px;
  margin-right: 0; }

.chat-list-head {
  margin-top: 67px; }
  .chat-list-head > span {
    margin-right: 25px; }
    .chat-list-head > span.last {
      margin-right: 62px; }

.bg-fa {
  background: #fafafa; }

.last-page-title {
  color: #3c3c3c;
  margin-bottom: 80px; }

.last-nav li {
  display: inline-block;
  margin-right: 14px; }
  .last-nav li a {
    width: 234px;
    height: 211px;
    background: #ffffff;
    text-align: center;
    line-height: 211px;
    position: relative;
    display: block;
    vertical-align: middle;
    border: 1px solid #e9e9e9;
    -webkit-transition: all 1.3s ease;
    transition: all 1.3s ease;
    -moz-transition: all 1.3s ease;
    -ms-transition: all 1.3s ease; }
    .last-nav li a.android {
      background: #1190df; }
    .last-nav li a:hover {
      background: #f0f1f1; }
    .last-nav li a.android:hover {
      background: #30aefd; }
    .last-nav li a .text {
      position: absolute;
      bottom: -28px;
      left: 90px;
      z-index: 99; }
    .last-nav li a.android .text {
      color: #ffffff; }
    .last-nav li a .code {
      vertical-align: middle; }

.dowload-btn {
  margin: 0;
  padding: 0;
  border: 0;
  width: 240px;
  height: 63px;
  background: #fcb167;
  text-align: center;
  line-height: 63px;
  color: #ffffff;
  font-size: 24px;
  border-radius: 40px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease; }
  .dowload-btn:hover {
    background: #f38d28; }

.arrow-down {
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg); }
  .arrow-down:hover {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg); }

/*# sourceMappingURL=index.css.map */
