@charset "UTF-8";
.ui-img {
  background-image: url("../../imgs/ui.png");
  background-size: 1000px 2000px; }

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-device-pixel-ratio: 1.5) {
  .ui-img {
    background-image: url("../../imgs/ui@2x.png");
    background-size: 1000px 2000px; } }
.logo {
  background-position: 0 0;
  width: 110px;
  height: 40px; }

.arrow-down {
  background-position: 0 -40px;
  width: 44px;
  height: 44px; }

.point-circle {
  background-position: 0 -96px;
  width: 12px;
  height: 12px; }
  .point-circle.active {
    background-position: 0 -85px; }

.android-icon {
  width: 45px;
  height: 56px;
  background-position: -89px -164px; }

.ios-icon {
  width: 45px;
  height: 56px;
  background-position: 2px -164px; }

.microphone {
  width: 41px;
  height: 56px;
  background-position: -45px -108px; }

.camera {
  width: 51px;
  height: 56px;
  background-position: -85px -108px; }

.timer {
  width: 49px;
  height: 56px;
  background-position: -136px -108px; }

.microphone-blue {
  width: 33px;
  height: 47px;
  background-position: -184px -108px;
  position: relative;
  top: 16px; }

.zhiliao-font {
  background-position: 0 -361px;
  width: 136px;
  height: 61px; }

.big-circle {
  background-position: 0 -760px;
  width: 268px;
  height: 268px;
  position: relative;
  z-index: 4; }

.middle-circle {
  width: 205px;
  height: 206px;
  background-position: 0 -1028px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -104.5px;
  margin-top: -103px;
  text-align: center;
  z-index: 5; }

.version {
  width: 70px;
  height: 30px;
  background-position: -143px -164px; }

.safe {
  width: 143px;
  height: 142px;
  background-position: 0 -220px;
  position: absolute;
  top: 64px;
  left: 61px; }

.timer-slice {
  width: 571px;
  height: 88px;
  background-position: 0 -422px;
  margin-top: 115px;
  margin-left: -76px; }

.white-chat {
  width: 333px;
  height: 98px;
  background-position: 0 -662px; }

.blue-chat {
  width: 333px;
  height: 66px;
  background-position: 0 -596px; }

#zhiliaoPage > .section {
  overflow: hidden; }

header .logo {
  display: table-cell;
  vertical-align: middle; }

nav.nav {
  font-size: 18px;
  color: #3d3d3d;
  height: 60px;
  text-align: right; }
  nav.nav ul {
    clear: both;
    display: inline-block;
    vertical-align: middle; }
    nav.nav ul li {
      float: left;
      margin-right: 55px; }
      nav.nav ul li:last-child {
        margin-right: 0; }
      nav.nav ul li.last-nav {
        margin-right: 0; }
      nav.nav ul li a {
        color: #3d3d3d;
        display: block;
        padding: 10px 12px; }
      nav.nav ul li.active a {
        color: #1190e0; }

.zhiliao-font-desc {
  margin-top: 22px;
  margin-bottom: 173px;
  font-size: 50px;
  color: white;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.6);
  position: relative; }

.title-font {
  color: #3c3c3c;
  font-size: 28.5px; }
  .title-font .active {
    color: #f3985b;
    font-size: 41px; }

.title-font-heart {
  color: #3c3c3c;
  font-size: 28.5px;
  width: 350px;
  margin: 22px 0; }

.start-zhiliao {
  position: absolute;
  bottom: 80px;
  display: inline-block;
  left: 50%;
  margin-left: -54px; }
  .start-zhiliao p {
    font-size: 18px; }

.fun {
  margin-top: 88px; }
  .fun span {
    margin-right: 56px; }

.chat-info > .ib {
  vertical-align: top; }
.chat-info .chat-hd {
  margin-right: 15px;
  margin-left: 0; }
.chat-info .user-name {
  color: #626262;
  font-size: 16px;
  margin-left: 11px; }
.chat-info p {
  color: #000;
  font-size: 24px;
  margin-top: 9px; }
.chat-info .white-chat span {
  margin-left: 39px;
  margin-right: 31px;
  margin-top: 13px; }
.chat-info .blue-chat span {
  margin: 17px;
  margin-left: 30px;
  color: #ffffff; }
.chat-info.blue .user-name {
  left: -17px;
  position: relative; }
.chat-info.blue .chat-hd {
  margin-left: 15px;
  margin-right: 0; }

.chat-list-head {
  margin-top: 67px; }
  .chat-list-head > span {
    margin-right: 25px; }
    .chat-list-head > span.last {
      margin-right: 62px; }

.bg-fa {
  background: #fafafa; }

.last-page-title {
  color: #3c3c3c;
  margin-bottom: 80px; }

.last-nav li {
  display: inline-block;
  margin-right: 14px; }
  .last-nav li a {
    width: 234px;
    height: 211px;
    background: #ffffff;
    text-align: center;
    line-height: 211px;
    position: relative;
    display: block;
    vertical-align: middle;
    border: 1px solid #e9e9e9;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease; }
    .last-nav li a.ani:hover {
      background: #1190df;
      color: #ffffff; }
      .last-nav li a.ani:hover .android-icon {
        background-position: 0 -108px; }
      .last-nav li a.ani:hover .ios-icon {
        background-position: -44px -164px; }
    .last-nav li a .text {
      position: absolute;
      bottom: -28px;
      left: 90px;
      z-index: 99; }
    .last-nav li a .code {
      vertical-align: middle; }

.dowload-btn {
  margin: 0;
  padding: 0;
  border: 0;
  width: 240px;
  height: 63px;
  background: #fcb167;
  text-align: center;
  line-height: 63px;
  color: #ffffff;
  font-size: 24px;
  border-radius: 40px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease; }
  .dowload-btn:hover {
    background: #f38d28; }

.iphone-bg {
  position: absolute;
  bottom: -135px;
  right: 0px;
  width: 335px;
  height: 700px;
  overflow: hidden; }

.iphone-bg-main {
  width: 335px;
  height: 700px;
  background: url("../../imgs/iphone_700.png");
  position: relative;
  overflow: hidden;
  z-index: 50; }

.iphone-wrap-main {
  width: 301px;
  position: absolute;
  top: 82px;
  left: 16px;
  overflow: hidden;
  z-index: 40; }

.iphone-bar {
  width: 301px;
  height: 60.2px;
  position: relative;
  background-image: url("../../imgs/02/bar.png");
  background-size: 100%  100%;
  text-align: center; }

.send-bg-main {
  background-image: url("../../imgs/03/publish.png");
  width: 301px;
  height: 534.275px;
  background-size: 100% 100%;
  position: absolute;
  top: 83px;
  left: 16px;
  overflow: hidden; }

.zhiliao-nav {
  overflow: hidden;
  clear: both;
  position: relative;
  top: 21px; }
  .zhiliao-nav li {
    float: left;
    margin-right: 21px;
    padding: 8px;
    position: relative; }
    .zhiliao-nav li a {
      font-size: 15px;
      color: #798eba;
      -webkit-transition: color 0.5s ease 0.1s;
      transition: color 0.5s ease 0.1s;
      -moz-transition: color 0.5s ease 0.1s;
      -ms-transition: color 0.5s ease 0.1s;
      display: block; }
    .zhiliao-nav li.active a {
      color: #ffffff;
      border-bottom: 2px solid #fff; }
  .zhiliao-nav .zhiliao-nav-circle {
    width: 10px;
    height: 10px;
    position: absolute;
    right: -8px;
    top: 8px;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9); }

.send-timer {
  background-image: url("../../imgs/03/select.png");
  width: 301px;
  height: 193.76875px;
  background-size: 100% 100%;
  position: absolute;
  bottom: 0px;
  left: 0px; }

.send-voice {
  background-image: url("../../imgs/03/voice.png");
  width: 301px;
  height: 194.68132px;
  background-size: 100% 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  text-align: center;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%); }

.send-time {
  background-image: url("../../imgs/03/select.png");
  width: 301px;
  height: 194.68132px;
  background-size: 100% 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  text-align: center;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%); }

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-device-pixel-ratio: 1.5) {
  .iphone-bar {
    background-image: url("../../imgs/02/2x/bar.jpg");
    background-size: 100% 100%; }

  .send-timer {
    background-image: url("../../imgs/03/2x/select.png"); }

  .send-voice {
    background-image: url("../../imgs/03/2x/voice.png"); }

  .send-bg-main {
    background-image: url("../../imgs/03/2x/publish.png"); }

  .send-time {
    background-image: url("../../imgs/03/2x/select.png"); } }
.select-timer {
  color: #405d9e;
  font-size: 16px;
  text-align: center;
  width: 120px;
  line-height: 25px;
  border-radius: 30px;
  border: 1px solid #405d9e;
  margin-left: 9px;
  opacity: 0; }

.iphone-wrap {
  width: 602px;
  position: relative;
  -webkit-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
  -moz-transform: translate3d(0px, 0px, 0px);
  -ms-transform: translate3d(0px, 0px, 0px);
  -webkit-transition: all 0.6s ease 0.2s;
  transition: all 0.6s ease 0.2s;
  -moz-transition: all 0.6s ease 0.2s;
  -ms-transition: all 0.6s ease 0.2s; }
  .iphone-wrap .screen {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 301px;
    overflow: hidden; }
    .iphone-wrap .screen img {
      width: 100%;
      height: auto; }

.microphone-blue-main {
  border: 1px solid #d7dbdf;
  border-radius: 10px;
  padding: 35px;
  background: #ffffff;
  vertical-align: middle;
  position: relative;
  top: 57px; }

.microphone-blue {
  overflow: hidden; }

.microphone-wave-wrap {
  position: relative;
  width: 18px;
  height: 36px;
  overflow: hidden;
  border-radius: 30px; }

.microphone-wave {
  background: #627aaf;
  position: relative;
  bottom: -33px;
  width: 100%;
  height: 100%; }

.version-pos {
  position: relative;
  right: -2px;
  top: -22px;
  text-align: center;
  font-size: 20px;
  color: #ffffff;
  line-height: 30px;
  padding-left: 4px; }

.pointer {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #f59955; }

.pointer01 {
  position: absolute;
  z-index: 99;
  left: 135px;
  top: 100px;
  opacity: 0; }

.pointer01-02 {
  position: absolute;
  z-index: 99;
  left: 68px;
  top: 98px;
  opacity: 0; }

.pointer02 {
  position: absolute;
  z-index: 99;
  left: 200px;
  top: 142px;
  opacity: 0; }

.pointer03 {
  position: absolute;
  right: 3px;
  top: -5px;
  opacity: 0;
  z-index: 99; }

.class-reject {
  margin-right: 113px;
  margin-bottom: 30px; }

.phone-ve {
  font-size: 22px;
  text-align: center;
  color: #3d6a98;
  width: 155px;
  margin-right: 23px;
  height: 40px;
  margin-top: 88px;
  line-height: 40px;
  background: #d5e4ea;
  border-radius: 4px; }

.circle-base {
  position: relative;
  width: 268px;
  height: 268px; }

.safe-head-01 {
  position: absolute;
  top: -35px;
  left: 94px;
  z-index: 10; }

.safe-head-02 {
  position: absolute;
  bottom: -18px;
  left: -13px;
  z-index: 10; }

.safe-head-03 {
  position: absolute;
  bottom: 25px;
  right: -39px;
  z-index: 10; }

.typing {
  margin-top: 113px;
  color: #3d3d3d;
  margin-left: 12px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  opacity: 0; }

.typing-2 {
  color: #3d3d3d;
  margin-left: 12px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 10px;
  opacity: 0; }

/** 保持结束帧 **/
.an-util-forwards {
  -webkit-animation-fill-mode: forwards !important;
  -moz-animation-fill-mode: forwards !important;
  -ms-animation-fill-mode: forwards !important;
  animation-fill-mode: forwards !important; }

.an-util-both {
  -webkit-animation-fill-mode: both !important;
  -moz-animation-fill-mode: both !important;
  -ms-animation-fill-mode: both !important;
  animation-fill-mode: both !important; }

/** 保持开始帧 **/
.an-util-backwards {
  -webkit-animation-fill-mode: backwards !important;
  -moz-animation-fill-mode: backwards !important;
  -ms-animation-fill-mode: backwards !important;
  animation-fill-mode: backwards !important; }

.arrow-down {
  cursor: pointer; }

@-webkit-keyframes microphone-wave {
  0% {
    bottom: -33px; }
  20% {
    bottom: -23px; }
  30% {
    bottom: -33px; }
  40% {
    bottom: -23px; }
  60% {
    bottom: -33px; }
  80% {
    bottom: -18px; }
  100% {
    bottom: -33px; } }
@-moz-keyframes microphone-wave {
  0% {
    bottom: -33px; }
  20% {
    bottom: -23px; }
  30% {
    bottom: -33px; }
  40% {
    bottom: -23px; }
  60% {
    bottom: -33px; }
  80% {
    bottom: -18px; }
  100% {
    bottom: -33px; } }
@-o-keyframes microphone-wave {
  0% {
    bottom: -33px; }
  20% {
    bottom: -23px; }
  30% {
    bottom: -33px; }
  40% {
    bottom: -23px; }
  60% {
    bottom: -33px; }
  80% {
    bottom: -18px; }
  100% {
    bottom: -33px; } }
@-ms-keyframes microphone-wave {
  0% {
    bottom: -33px; }
  20% {
    bottom: -23px; }
  30% {
    bottom: -33px; }
  40% {
    bottom: -23px; }
  60% {
    bottom: -33px; }
  80% {
    bottom: -18px; }
  100% {
    bottom: -33px; } }
@keyframes microphone-wave {
  0% {
    bottom: -33px; }
  20% {
    bottom: -23px; }
  30% {
    bottom: -33px; }
  40% {
    bottom: -23px; }
  60% {
    bottom: -33px; }
  80% {
    bottom: -18px; }
  100% {
    bottom: -33px; } }
@-webkit-keyframes pointer-animate {
  0% {
    -webkit-transform: scale(0.2);
    transform: scale(0.2);
    -moz-transform: scale(0.2);
    -ms-transform: scale(0.2);
    opacity: 0; }
  10% {
    -webkit-transform: scale(0.2);
    transform: scale(0.2);
    -moz-transform: scale(0.2);
    -ms-transform: scale(0.2);
    opacity: 0.5; }
  100% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    opacity: 0; } }
@-moz-keyframes pointer-animate {
  0% {
    -webkit-transform: scale(0.2);
    transform: scale(0.2);
    -moz-transform: scale(0.2);
    -ms-transform: scale(0.2);
    opacity: 0; }
  10% {
    -webkit-transform: scale(0.2);
    transform: scale(0.2);
    -moz-transform: scale(0.2);
    -ms-transform: scale(0.2);
    opacity: 0.5; }
  100% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    opacity: 0; } }
@-o-keyframes pointer-animate {
  0% {
    -webkit-transform: scale(0.2);
    transform: scale(0.2);
    -moz-transform: scale(0.2);
    -ms-transform: scale(0.2);
    opacity: 0; }
  10% {
    -webkit-transform: scale(0.2);
    transform: scale(0.2);
    -moz-transform: scale(0.2);
    -ms-transform: scale(0.2);
    opacity: 0.5; }
  100% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    opacity: 0; } }
@-ms-keyframes pointer-animate {
  0% {
    -webkit-transform: scale(0.2);
    transform: scale(0.2);
    -moz-transform: scale(0.2);
    -ms-transform: scale(0.2);
    opacity: 0; }
  10% {
    -webkit-transform: scale(0.2);
    transform: scale(0.2);
    -moz-transform: scale(0.2);
    -ms-transform: scale(0.2);
    opacity: 0.5; }
  100% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    opacity: 0; } }
@keyframes pointer-animate {
  0% {
    -webkit-transform: scale(0.2);
    transform: scale(0.2);
    -moz-transform: scale(0.2);
    -ms-transform: scale(0.2);
    opacity: 0; }
  10% {
    -webkit-transform: scale(0.2);
    transform: scale(0.2);
    -moz-transform: scale(0.2);
    -ms-transform: scale(0.2);
    opacity: 0.5; }
  100% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    opacity: 0; } }
.chat-hd-01, .chat-hd-02 {
  opacity: 0; }

.chat-message-02, .chat-message-01 {
  opacity: 0; }

.chat-list-head span {
  opacity: 0; }

.big-circle {
  opacity: 0; }

.middle-circle {
  opacity: 0; }

.safe {
  opacity: 0; }

.safe-head-01, .safe-head-02, .safe-head-03 {
  opacity: 0; }

.section.animated .bg-02 .pointer01 {
  -webkit-animation: pointer-animate 0.4s ease-in 0.2s both;
  -ms-animation: pointer-animate 0.4s ease-in 0.2s both;
  -moz-animation: pointer-animate 0.4s ease-in 0.2s both;
  -o-animation: pointer-animate 0.4s ease-in 0.2s both;
  animation: pointer-animate 0.4s ease-in 0.2s both; }
.section.animated .bg-02 .pointer01-02 {
  -webkit-animation: pointer-animate 0.4s ease-in 1.6s both;
  -ms-animation: pointer-animate 0.4s ease-in 1.6s both;
  -moz-animation: pointer-animate 0.4s ease-in 1.6s both;
  -o-animation: pointer-animate 0.4s ease-in 1.6s both;
  animation: pointer-animate 0.4s ease-in 1.6s both; }
.section.animated .bg-03 .send-voice-ani-01 {
  -webkit-animation: slideInUp 0.6s ease 0.2s 1 both;
  -ms-animation: slideInUp 0.6s ease 0.2s 1 both;
  -moz-animation: slideInUp 0.6s ease 0.2s 1 both;
  -o-animation: slideInUp 0.6s ease 0.2s 1 both;
  animation: slideInUp 0.6s ease 0.2s 1 both; }
.section.animated .bg-03 .microphone-wave {
  -webkit-animation: microphone-wave 1.7s ease 1s 2 both;
  -ms-animation: microphone-wave 1.7s ease 1s 2 both;
  -moz-animation: microphone-wave 1.7s ease 1s 2 both;
  -o-animation: microphone-wave 1.7s ease 1s 2 both;
  animation: microphone-wave 1.7s ease 1s 2 both; }
.section.animated .bg-03 .typing {
  opacity: 1;
  -webkit-animation: type 2s steps(50, end) 1.5s 1 both;
  -ms-animation: type 2s steps(50, end) 1.5s 1 both;
  -moz-animation: type 2s steps(50, end) 1.5s 1 both;
  -o-animation: type 2s steps(50, end) 1.5s 1 both;
  animation: type 2s steps(50, end) 1.5s 1 both; }
.section.animated .bg-03 .typing-2 {
  opacity: 1;
  -webkit-animation: type 2s steps(50, end) 3.5s 1 both;
  -ms-animation: type 2s steps(50, end) 3.5s 1 both;
  -moz-animation: type 2s steps(50, end) 3.5s 1 both;
  -o-animation: type 2s steps(50, end) 3.5s 1 both;
  animation: type 2s steps(50, end) 3.5s 1 both; }
.section.animated .bg-03 .pointer02 {
  -webkit-animation: pointer-animate 0.4s ease-in 5s both;
  -ms-animation: pointer-animate 0.4s ease-in 5s both;
  -moz-animation: pointer-animate 0.4s ease-in 5s both;
  -o-animation: pointer-animate 0.4s ease-in 5s both;
  animation: pointer-animate 0.4s ease-in 5s both; }
.section.animated .bg-03 .send-time-ani-01 {
  -webkit-animation: slideInUp 0.6s ease 6s 1 both;
  -ms-animation: slideInUp 0.6s ease 6s 1 both;
  -moz-animation: slideInUp 0.6s ease 6s 1 both;
  -o-animation: slideInUp 0.6s ease 6s 1 both;
  animation: slideInUp 0.6s ease 6s 1 both; }
.section.animated .bg-03 .pointer03 {
  -webkit-animation: pointer-animate 0.4s ease-in 6.8s both;
  -ms-animation: pointer-animate 0.4s ease-in 6.8s both;
  -moz-animation: pointer-animate 0.4s ease-in 6.8s both;
  -o-animation: pointer-animate 0.4s ease-in 6.8s both;
  animation: pointer-animate 0.4s ease-in 6.8s both; }
.section.animated .bg-03 .send-time-ani-02 {
  -webkit-animation: slideInDownVoice 0.4s ease 0.8s 1 both;
  -ms-animation: slideInDownVoice 0.4s ease 0.8s 1 both;
  -moz-animation: slideInDownVoice 0.4s ease 0.8s 1 both;
  -o-animation: slideInDownVoice 0.4s ease 0.8s 1 both;
  animation: slideInDownVoice 0.4s ease 0.8s 1 both; }
.section.animated .bg-03 .select-timer {
  -webkit-animation: fadeIn 0.8s ease 7.8s 1 both;
  -ms-animation: fadeIn 0.8s ease 7.8s 1 both;
  -moz-animation: fadeIn 0.8s ease 7.8s 1 both;
  -o-animation: fadeIn 0.8s ease 7.8s 1 both;
  animation: fadeIn 0.8s ease 7.8s 1 both; }
.section.animated .bg-04 .chat-hd-01 {
  -webkit-animation: bounceIn 0.6s ease 0s both;
  -ms-animation: bounceIn 0.6s ease 0s both;
  -moz-animation: bounceIn 0.6s ease 0s both;
  -o-animation: bounceIn 0.6s ease 0s both;
  animation: bounceIn 0.6s ease 0s both; }
.section.animated .bg-04 .chat-message-01 {
  -webkit-animation: fadeIn 0.8s ease 0.5s both;
  -ms-animation: fadeIn 0.8s ease 0.5s both;
  -moz-animation: fadeIn 0.8s ease 0.5s both;
  -o-animation: fadeIn 0.8s ease 0.5s both;
  animation: fadeIn 0.8s ease 0.5s both; }
.section.animated .bg-04 .chat-hd-02 {
  -webkit-animation: bounceIn 0.6s ease 1.2s both;
  -ms-animation: bounceIn 0.6s ease 1.2s both;
  -moz-animation: bounceIn 0.6s ease 1.2s both;
  -o-animation: bounceIn 0.6s ease 1.2s both;
  animation: bounceIn 0.6s ease 1.2s both; }
.section.animated .bg-04 .chat-message-02 {
  -webkit-animation: fadeIn 0.8s ease 1.7s both;
  -ms-animation: fadeIn 0.8s ease 1.7s both;
  -moz-animation: fadeIn 0.8s ease 1.7s both;
  -o-animation: fadeIn 0.8s ease 1.7s both;
  animation: fadeIn 0.8s ease 1.7s both; }
.section.animated .bg-04 .chat-list-head span:nth-child(1) {
  -webkit-animation: bounceIn 0.6s 2.1s both;
  -ms-animation: bounceIn 0.6s 2.1s both;
  -moz-animation: bounceIn 0.6s 2.1s both;
  -o-animation: bounceIn 0.6s 2.1s both;
  animation: bounceIn 0.6s 2.1s both; }
.section.animated .bg-04 .chat-list-head span:nth-child(2) {
  -webkit-animation: bounceIn 0.6s 2s both;
  -ms-animation: bounceIn 0.6s 2s both;
  -moz-animation: bounceIn 0.6s 2s both;
  -o-animation: bounceIn 0.6s 2s both;
  animation: bounceIn 0.6s 2s both; }
.section.animated .bg-04 .chat-list-head span:nth-child(3) {
  -webkit-animation: bounceIn 0.6s 2.1s both;
  -ms-animation: bounceIn 0.6s 2.1s both;
  -moz-animation: bounceIn 0.6s 2.1s both;
  -o-animation: bounceIn 0.6s 2.1s both;
  animation: bounceIn 0.6s 2.1s both; }
.section.animated .bg-04 .chat-list-head span:nth-child(4) {
  -webkit-animation: bounceIn 0.6s 2s both;
  -ms-animation: bounceIn 0.6s 2s both;
  -moz-animation: bounceIn 0.6s 2s both;
  -o-animation: bounceIn 0.6s 2s both;
  animation: bounceIn 0.6s 2s both; }
.section.animated .bg-05 .big-circle {
  -webkit-animation: zoomIn 1s ease 0s both;
  -ms-animation: zoomIn 1s ease 0s both;
  -moz-animation: zoomIn 1s ease 0s both;
  -o-animation: zoomIn 1s ease 0s both;
  animation: zoomIn 1s ease 0s both; }
.section.animated .bg-05 .middle-circle {
  -webkit-animation: zoomIn 1s ease 0.4s both;
  -ms-animation: zoomIn 1s ease 0.4s both;
  -moz-animation: zoomIn 1s ease 0.4s both;
  -o-animation: zoomIn 1s ease 0.4s both;
  animation: zoomIn 1s ease 0.4s both; }
.section.animated .bg-05 .safe {
  -webkit-animation: zoomIn 0.6s ease 0.8s both;
  -ms-animation: zoomIn 0.6s ease 0.8s both;
  -moz-animation: zoomIn 0.6s ease 0.8s both;
  -o-animation: zoomIn 0.6s ease 0.8s both;
  animation: zoomIn 0.6s ease 0.8s both; }
.section.animated .bg-05 .safe-head-01 {
  -webkit-animation: bounceIn 0.6s 1.4s both;
  -ms-animation: bounceIn 0.6s 1.4s both;
  -moz-animation: bounceIn 0.6s 1.4s both;
  -o-animation: bounceIn 0.6s 1.4s both;
  animation: bounceIn 0.6s 1.4s both; }
.section.animated .bg-05 .safe-head-03 {
  -webkit-animation: bounceIn 0.6s 1.6s both;
  -ms-animation: bounceIn 0.6s 1.6s both;
  -moz-animation: bounceIn 0.6s 1.6s both;
  -o-animation: bounceIn 0.6s 1.6s both;
  animation: bounceIn 0.6s 1.6s both; }
.section.animated .bg-05 .safe-head-02 {
  -webkit-animation: bounceIn 0.6s 1.8s both;
  -ms-animation: bounceIn 0.6s 1.8s both;
  -moz-animation: bounceIn 0.6s 1.8s both;
  -o-animation: bounceIn 0.6s 1.8s both;
  animation: bounceIn 0.6s 1.8s both; }

@-webkit-keyframes bg-02-slide {
  0% {
    -webkit-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
    -moz-transform: translate3d(0px, 0px, 0px);
    -ms-transform: translate3d(0px, 0px, 0px); }
  100% {
    -webkit-transform: translate3d(-301px, 0px, 0px);
    transform: translate3d(-301px, 0px, 0px);
    -moz-transform: translate3d(-301px, 0px, 0px);
    -ms-transform: translate3d(-301px, 0px, 0px); } }
@-moz-keyframes bg-02-slide {
  0% {
    -webkit-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
    -moz-transform: translate3d(0px, 0px, 0px);
    -ms-transform: translate3d(0px, 0px, 0px); }
  100% {
    -webkit-transform: translate3d(-301px, 0px, 0px);
    transform: translate3d(-301px, 0px, 0px);
    -moz-transform: translate3d(-301px, 0px, 0px);
    -ms-transform: translate3d(-301px, 0px, 0px); } }
@-o-keyframes bg-02-slide {
  0% {
    -webkit-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
    -moz-transform: translate3d(0px, 0px, 0px);
    -ms-transform: translate3d(0px, 0px, 0px); }
  100% {
    -webkit-transform: translate3d(-301px, 0px, 0px);
    transform: translate3d(-301px, 0px, 0px);
    -moz-transform: translate3d(-301px, 0px, 0px);
    -ms-transform: translate3d(-301px, 0px, 0px); } }
@-ms-keyframes bg-02-slide {
  0% {
    -webkit-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
    -moz-transform: translate3d(0px, 0px, 0px);
    -ms-transform: translate3d(0px, 0px, 0px); }
  100% {
    -webkit-transform: translate3d(-301px, 0px, 0px);
    transform: translate3d(-301px, 0px, 0px);
    -moz-transform: translate3d(-301px, 0px, 0px);
    -ms-transform: translate3d(-301px, 0px, 0px); } }
@keyframes bg-02-slide {
  0% {
    -webkit-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
    -moz-transform: translate3d(0px, 0px, 0px);
    -ms-transform: translate3d(0px, 0px, 0px); }
  100% {
    -webkit-transform: translate3d(-301px, 0px, 0px);
    transform: translate3d(-301px, 0px, 0px);
    -moz-transform: translate3d(-301px, 0px, 0px);
    -ms-transform: translate3d(-301px, 0px, 0px); } }
@-webkit-keyframes bg-02-slide-next {
  0% {
    -webkit-transform: translate3d(-301px, 0px, 0px);
    transform: translate3d(-301px, 0px, 0px);
    -moz-transform: translate3d(-301px, 0px, 0px);
    -ms-transform: translate3d(-301px, 0px, 0px); }
  100% {
    -webkit-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
    -moz-transform: translate3d(0px, 0px, 0px);
    -ms-transform: translate3d(0px, 0px, 0px); } }
@-moz-keyframes bg-02-slide-next {
  0% {
    -webkit-transform: translate3d(-301px, 0px, 0px);
    transform: translate3d(-301px, 0px, 0px);
    -moz-transform: translate3d(-301px, 0px, 0px);
    -ms-transform: translate3d(-301px, 0px, 0px); }
  100% {
    -webkit-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
    -moz-transform: translate3d(0px, 0px, 0px);
    -ms-transform: translate3d(0px, 0px, 0px); } }
@-o-keyframes bg-02-slide-next {
  0% {
    -webkit-transform: translate3d(-301px, 0px, 0px);
    transform: translate3d(-301px, 0px, 0px);
    -moz-transform: translate3d(-301px, 0px, 0px);
    -ms-transform: translate3d(-301px, 0px, 0px); }
  100% {
    -webkit-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
    -moz-transform: translate3d(0px, 0px, 0px);
    -ms-transform: translate3d(0px, 0px, 0px); } }
@-ms-keyframes bg-02-slide-next {
  0% {
    -webkit-transform: translate3d(-301px, 0px, 0px);
    transform: translate3d(-301px, 0px, 0px);
    -moz-transform: translate3d(-301px, 0px, 0px);
    -ms-transform: translate3d(-301px, 0px, 0px); }
  100% {
    -webkit-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
    -moz-transform: translate3d(0px, 0px, 0px);
    -ms-transform: translate3d(0px, 0px, 0px); } }
@keyframes bg-02-slide-next {
  0% {
    -webkit-transform: translate3d(-301px, 0px, 0px);
    transform: translate3d(-301px, 0px, 0px);
    -moz-transform: translate3d(-301px, 0px, 0px);
    -ms-transform: translate3d(-301px, 0px, 0px); }
  100% {
    -webkit-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
    -moz-transform: translate3d(0px, 0px, 0px);
    -ms-transform: translate3d(0px, 0px, 0px); } }
@-webkit-keyframes slideInDownVoice {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    visibility: visible; }
  100% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%); } }
@-moz-keyframes slideInDownVoice {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    visibility: visible; }
  100% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%); } }
@-o-keyframes slideInDownVoice {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    visibility: visible; }
  100% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%); } }
@-ms-keyframes slideInDownVoice {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    visibility: visible; }
  100% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%); } }
@keyframes slideInDownVoice {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    visibility: visible; }
  100% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%); } }
@-webkit-keyframes type {
  from {
    width: 0; } }
@-moz-keyframes type {
  from {
    width: 0; } }
@-o-keyframes type {
  from {
    width: 0; } }
@-ms-keyframes type {
  from {
    width: 0; } }
@keyframes type {
  from {
    width: 0; } }
.bg-02-slide-rev {
  -webkit-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
  -moz-transform: translate3d(0px, 0px, 0px);
  -ms-transform: translate3d(0px, 0px, 0px); }

.bg-02-slide {
  -webkit-transform: translate3d(-301px, 0px, 0px);
  transform: translate3d(-301px, 0px, 0px);
  -moz-transform: translate3d(-301px, 0px, 0px);
  -ms-transform: translate3d(-301px, 0px, 0px); }

.send-voice-ani-02 {
  -webkit-animation: slideInDownVoice 0.4s ease 0s 1 both;
  -ms-animation: slideInDownVoice 0.4s ease 0s 1 both;
  -moz-animation: slideInDownVoice 0.4s ease 0s 1 both;
  -o-animation: slideInDownVoice 0.4s ease 0s 1 both;
  animation: slideInDownVoice 0.4s ease 0s 1 both; }

/*# sourceMappingURL=index.css.map */
