<!DOCTYPE html>
<html>
<head lang="zh-cn">

    <!-- 基本配置信息 -->
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="renderer" content="webkit" />

    <!--[if lt IE 9]>
    <link href="../static/imgs/favicon-16_16.ico" type="image/x-icon" rel=icon />
    <link href="../static/imgs/favicon-16_16.ico" type="image/x-icon" rel="shortcut icon" />

    <script type="text/javascript" src="../static/js/ie9/respond.min.js"></script>
    <script type="text/javascript" src="../static/js/ie9/html5shiv.min.js"></script>
    <script type="text/javascript">
        window.ltie8 = true;
    </script>
    <![endif]-->


    <link href="../static/imgs/favicon-32_32.ico" type="image/x-icon" rel=icon />
    <link href="../static/imgs/favicon-32_32.ico" type="image/x-icon" rel="shortcut icon" />
    <!-- seo 优化部分 -->
    <meta name="title" content="知了官网 理解源自沟通"/>
    <meta name="keywords" content="知了 教育社交  教育  zhiliao 家校沟通  家校互动  即时通讯  中学 小学 初中 高中 家长 老师 交流 通讯 学生 作业 通知公告 学习 班级"/>
    <meta name="author" content="sherlock221b"/>
    <meta name="email" content="920825209@qq.com"/>
    <meta name="Description" content="知了 教育社交  教育  zhiliao 家校沟通  家校互动  即时通讯  中学 小学 初中 高中 家长 老师 交流 通讯 学生 作业 通知公告 学习 班级"/>


    <!--标题-->
    <title>知了·理解源自沟通</title>

    <!-- seajs -->
    <script type="text/javascript" src="../static/js/sea-modules/seajs/2.3.0/dist/sea.js"></script>
    <script type="text/javascript" src="../static/js/sea-modules/seajs_config.js"></script>

    <link href="../static/dist/css/tp.min.css?v=112" rel="stylesheet" type="text/css"/>

    <!--about css  -->
    <link href="../static/css/service/about.css?v=112" rel="stylesheet" type="text/css"/>


    <!-- ie hack -->
    <!--[if lt IE 10]>
        <link href="../static/css/iehack/ie8-9.css?v=112" rel="stylesheet" type="text/css"/>
    <![endif]-->

</head>
<body>

<div id="aboutZhiliao">
<!-- 导航部分 -->
    <header >
        <section class="container">
            <div class="clearfix">
                <div class="  db ">
                    <div class="db-cell-middle">
                        <a class="ui-img logo "  href="javascript:window.location.href=window.location.href;">
                            <span class="hidden-val">知了·理解源自沟通</span>
                        </a>
                    </div>

                    <nav class=" nav db-cell-middle">
                        <ul class="ovh">
                            <li class="">
                                <a href="index.html">首页</a>
                            </li>
                            <li class="active">
                                <a href="about.html">关于我们</a>
                            </li>
                            <!--<li class="last-nav">-->
                                <!--<a href="javascript:void(0);">帮助中心</a>-->
                            <!--</li>-->
                        </ul>
                    </nav>
                </div>

            </div>
        </section>
    </header>

   <!-- 内容 -->

    <section class="about">
           <div class="section-one">
                <div class="container">
                        <h3 class="media-font title">知了宣传片</h3>

                        <div class="media-wrap pos-rel">
                            <div class="media-start" id="mediaStart">
                                <img src="../static/imgs/about/start-bg.jpg" class="res-img" />
                            </div>
                        </div>

                        <div class="mg"></div>

                    <h3 class="light zhiliao-what">知了是什么</h3>
                    <p class="zhiliao-desc">
                        “知了”是一款基于教师、家长间的社交工具，使用者可以通过知了发布文字信息、图文信息以及设计定时发布，支持语音智能转文字输入；班级码是知了为每个实体班级生成的唯一识别码，使用者可以使用班级码加入指定班级，实现班群互动、家长互动。
                    </p>

                </div>

           </div>

            <div class="section-two">

                <div class="container">

                    <div class="clearfix   ">
                        <div class="db zhiliao-teachers text-center">
                            <div class="db-cell-middle vt">

                                <div>
                                    <img src="../static/imgs/about/teacher-01.png"  width="150" height="150"  />
                                </div>

                                <div>
                                    <span class="light ib teacher-name">李奕霏老师</span>
                                    <p class="teacher-school">北京市育英中学</p>
                                </div>

                                <div>
                                    <p class="teacher-desc">
                                        知了，确实是一款为老师和家长而生的产品。很多功能设计非常符合我们与家长的交流习惯，很贴心，很人性化。
                                    </p>
                                </div>
                            </div>
                            <div class="db-cell-middle vt">

                                <div>
                                    <img src="../static/imgs/about/teacher-02.png"  width="150" height="150"  />
                                </div>

                                <div>
                                    <span class="light ib teacher-name">樵青青老师</span>
                                    <p class="teacher-school">上海天使幼儿园</p>
                                </div>

                                <div>
                                    <p class="teacher-desc">
                                        知了提供了一个非常安全的交流平台。在封闭的班级圈中家长和老师都能够畅所欲言，分享孩子成长中的点点滴滴。
                                    </p>
                                </div>
                            </div>
                            <div class="db-cell-middle vt">

                                <div>
                                    <img src="../static/imgs/about/teacher-03.png"  width="150" height="150"  />
                                </div>

                                <div>
                                    <span class="light ib teacher-name">冯婷老师</span>
                                    <p class="teacher-school">武汉市万锦幼儿园</p>
                                </div>

                                <div>
                                    <p class="teacher-desc">
                                        知了更像是为老师和家长定制<br/>的“微信”。用了知了以后，沟通轻松多了，家长也可以更及时的关注他们孩子们在学校的学习生活了。
                                    </p>
                                </div>
                            </div>


                        </div>


                    </div>

                </div>
               <ul class="">
                   <li></li>
               </ul>

            </div>



            <div class="section-three">

                <div class="clearfix  container ">

                    <div class="">
                        <h3 class="us">联系我们</h3>
                    </div>
                    <div class="db ">

                        <div class="db-cell-middle">

                            <ul>
                                <li class="db contact ">
                                        <div class="db-cell-middle">
                                           <div class="ib">

                                               <p class="title">联系客服</p>
                                               <p>电话&nbsp;&nbsp;&nbsp;4000-910-061</p>
                                               <p>邮箱&nbsp;&nbsp;&nbsp;service@imzhiliao.com</p>
                                           </div>

                                            <div class="ib code">
                                                <div class="ib text-center" style="margin-right: 40px;">
                                                    <div>
                                                        <img src="../static/imgs/cs-weixin-code.jpg"  width="75" height="75"  />
                                                    </div>
                                                    <div class="text-center">
                                                        <span class="small ib">客服微信公众号</span>
                                                    </div>
                                                </div>
                                                <div class="ib" style="margin-right: 50px;">
                                                    <div>
                                                        <img src="../static/imgs/cs-weibo-code.jpg"  width="75" height="75"  />
                                                    </div>
                                                    <div class="text-center">
                                                        <span class="small ib">客服微博</span>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    <div class="db-cell-middle">
                                        <div class="ib line"></div>
                                        <div class="ib" style="margin-right:50px;">
                                            <p class="title">人才招聘</p>
                                            <p>联系人&nbsp;&nbsp;&nbsp;何女士</p>
                                            <p>邮箱&nbsp;&nbsp;&nbsp;hr@imzhiliao.com</p>
                                        </div>


                                    </div> <div class="db-cell-middle">

                                    <div class="ib line"></div>
                                    <div class="ib">
                                            <p class="title">商务合作</p>
                                            <p>联系人&nbsp;&nbsp;&nbsp;黄先生</p>
                                            <p>邮箱&nbsp;&nbsp;&nbsp;zhiliao@imzhiliao.com</p>
                                        </div>


                                    </div>




                                </li>
                            </ul>


                        </div>

                    </div>
                </div>



            </div>

    </section>
   <!-- 内容结尾 -->

    <!-- 结尾 -->
<div class="section">
    <section class="bg bg-06">
        <div class="db">
            <div class="db-row">
                <div class="db-cell-middle" style="height:140px;">
                    <footer style="margin-top:16px;">
                            <div class="text-center">
                                <div>
                                    <ul class="company ib">
                                        <li>
                                            <a href="javascript:void(0)">北京蝉鸣信息科技有限公司</a>
                                        </li>
                                        <li>
                                             <a href="javascript:void(0)">联系我们</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)" class="">用户协议</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)" class="last pos-rel">关注我们
                                                <div class="ib hover">

                                                  <span class="ib hover-icon " onclick="window.location.href='http://weibo.com/imzhiliao'">
                                                    <i class="ib  ui-img weibo wx"></i>
                                                </span>
                                                 <span class="ib hover-icon">
                                                    <i class="ib  ui-img weixin wx"></i>
                                                      <div class="ib weixin-code">
                                                          <img src="../static/imgs/weixn-code.png" width="75" height="81" />
                                                      </div>
                                                </span>



                                                </div>

                                            </a>

                                        </li>

                                    </ul>
                                </div>
                            </div>
                            <div class="text-center">
                                <p class="copyright">
                                    Copyright © imzhiliao.com. All rights reserved  | 京ICP备14061569号
                                </p>
                            </div>
                    </footer>
                </div>
            </div>
        </div>
    </section>
</div>



</div>






</body>

<script type="text/javascript">
</script>
</html>