<!DOCTYPE html>
<html>
<head lang="zh-cn">

    <!-- 基本配置信息 -->
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta name="renderer" content="webkit">

    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <![endif]-->


    <!-- seo 优化部分 -->
    <meta name="title" content="校园云官网 天翼校园云"/>
    <meta name="keywords" content="校园云 皆知 大学 高校 微信 公众 服务 平台"/>
    <meta name="author" content="sherlock"/>
    <meta name="email" content="920825209@qq.com"/>
    <meta name="Description" content="校园云官网 天翼校园云"/>


    <!--标题-->
    <title>知了官网·理解源自沟通</title>

    <!--reset css  -->
    <link href="../static/css/template/normalize.css" rel="stylesheet" type="text/css"/>

    <!--animate css  -->
    <link href="../static/css/template/animate.css" rel="stylesheet" type="text/css"/>

    <!--common css  -->
    <link href="../static/css/template/template.css" rel="stylesheet" type="text/css"/>


    <!-- fullpage -->
    <link href="../static/css/plugin/jquery.fullPage.css" rel="stylesheet" type="text/css"/>



    <!--[if lt IE 9]>
    <script type="text/javascript" src="../static/js/ie9/html5shiv.min.js"></script>
    <![endif]-->

    <!-- seajs -->
    <script type="text/javascript" src="../static/js/sea-modules/seajs/2.3.0/dist/sea.js"></script>
    <script type="text/javascript" src="../static/js/sea-modules/seajs_config.js"></script>

    <!--index css  -->
    <link href="../static/css/service/index.css" rel="stylesheet" type="text/css"/>

</head>
<body>



<div id="zhiliaoPage">
    <div class="section">

        11111111111111111

    </div>
    <div class="section">

        222222222222222

    </div>
    <div class="section">

        222222222222222

    </div>
    <div class="section">

        222222222222222

    </div>
</div>



</body>

<script type="text/javascript">
    seajs.use("service/index");
</script>
</html>