<!DOCTYPE html>
<html>
<head lang="zh-cn">

    <!-- 基本配置信息 -->
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="renderer" content="webkit" />

    <!--[if lt IE 9]>
    <link href="../static/imgs/favicon-16_16.ico" type="image/x-icon" rel=icon />
    <link href="../static/imgs/favicon-16_16.ico" type="image/x-icon" rel="shortcut icon" />

    <script type="text/javascript" src="../static/js/ie9/respond.min.js"></script>
    <script type="text/javascript" src="../static/js/ie9/html5shiv.min.js"></script>
    <script type="text/javascript">
        window.ltie8 = true;
    </script>
    <![endif]-->


    <link href="../static/imgs/favicon-32_32.ico" type="image/x-icon" rel=icon />
    <link href="../static/imgs/favicon-32_32.ico" type="image/x-icon" rel="shortcut icon" />


    <!-- seo 优化部分 -->
    <meta name="title" content="知了官网 理解源自沟通"/>
    <meta name="keywords" content="知了 教育社交  教育  zhiliao 家校沟通  家校互动  即时通讯  中学 小学 初中 高中 家长 老师 交流 通讯 学生 作业 通知公告 学习 班级"/>
    <meta name="author" content="sherlock221b"/>
    <meta name="email" content="920825209@qq.com"/>
    <meta name="Description" content="知了 教育社交  教育  zhiliao 家校沟通  家校互动  即时通讯  中学 小学 初中 高中 家长 老师 交流 通讯 学生 作业 通知公告 学习 班级"/>


    <!--标题-->
    <title>知了·理解源自沟通</title>


    <!-- seajs -->
    <script type="text/javascript" src="../static/js/sea-modules/seajs/2.3.0/dist/sea.js"></script>
    <script type="text/javascript" src="../static/js/sea-modules/seajs_config.js"></script>

    <!--tp css  -->
    <link href="../static/dist/css/tp.min.css?v=106" rel="stylesheet" type="text/css"/>

    <!-- ie hack -->
    <!--[if lt IE 10]>
        <link href="../static/css/iehack/ie8-9.css?v=106" rel="stylesheet" type="text/css"/>
    <![endif]-->

</head>
<body>


<div id="zhiliaoPage">
<div id="page01" class="section">

    <header >
        <section class="container">
            <div class="clearfix height-ih ">
                <div class="height-ih db ">
                    <div class="db-cell-middle">
                        <a class="ui-img logo "  href="javascript:window.location.href=window.location.href;">
                            <span class="hidden-val">知了·理解源自沟通</span>
                        </a>
                    </div>

                    <nav class=" nav db-cell-middle">
                        <ul class="ovh">
                            <li class="active">
                                <a href="javascript:void(0);">首页</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">关于我们</a>
                            </li>
                            <li class="last-nav">
                                <a href="javascript:void(0);">帮助中心</a>
                            </li>
                        </ul>
                    </nav>
                </div>

            </div>
        </section>
    </header>
    <section class="bg bg-01">

        <div class="container">
            <div class="db">
                <div class="db-cell-middle">
                    <h1 class="hidden-val zhiliao-font ui-img ib">
                        知了
                    </h1>
                    <span class="ib version version-pos ui-img">
                        v1.4
                    </span>

                    <h1 class="zhiliao-font-desc">最懂你的教育社交产品</h1>

                    <button class="dowload-btn" id="downHref">
                        下载
                    </button>

                    <div class="start-zhiliao text-center">
                        <p class="">开始了解知了</p>
                        <a class="ib hidden-val arrow-down ui-img" id="start" >
                            go
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </section>

</div>
<div id="page02" class="section">

    <section class="bg bg-02">

        <div class="container">
            <div class="db">
                <div class="db-cell-middle">

                    <h2 class="title-font">

                        <span class="active">专注</span>
                        营造纯净的教育社交环境<br/>
                        告别无关的信息打扰
                    </h2>
                    <span class="ib timer-slice ui-img">
                    </span>

                </div>

                <!-- 第二屏iphone -->
                <div class="db-cell-middle">
                    <div class="iphone-bg ">

                        <i class="ib pointer pointer01" id="pointer01"></i>
                        <i class="ib pointer pointer01-02" id="pointer01-02"></i>

                        <div class="iphone-bg-main">

                            <section class="iphone-wrap-main ">
                                <div class="iphone-bar">

                                    <ul class="ib zhiliao-nav" id="zhiliao-nav">

                                        <li class="active">
                                            <a href="javascript:void(0)" >
                                                全部
                                                <span class="ib zhiliao-nav-circle ui-img point-circle active" id="zhiliao-nav-circle-01"></span>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="javascript:void(0)">老师
                                                <span class="ib zhiliao-nav-circle ui-img point-circle active" id="zhiliao-nav-circle-02"></span>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="javascript:void(0)">家长
                                                <span class="ib zhiliao-nav-circle ui-img point-circle active"></span>
                                            </a>
                                        </li>

                                    </ul>
                                </div>

                                <div class="iphone-wrap an-util-both" id="iphone-wrap">
                                    <div class="screen">
                                        <img src="../static/imgs/02/2x/all.jpg"  class="img-02-01" />
                                    </div><div class="screen">
                                    <img src="../static/imgs/02/2x/teacher.jpg"  class="img-02-02" />
                                </div>
                                </div>
                            </section>


                        </div>


                    </div>
                </div>
            </div>
        </div>
    </section>


    </section>

</div>
<div id="page03" class="section">

    <section class="bg bg-03">

        <div class="container">
            <div class="db">
                <div class="db-cell-middle">

                    <div class="iphone-bg-main">
                           <div class="send-bg-main">

                               <p class="typing">
                                   今天的语文作业是朗诵P16全文，
                               </p>

                               <p class="typing-2" id="typing-2">
                                   并完成第三题
                               </p>

                               <p class="select-timer">
                                   03-05 10：00
                               </p>


                               <!-- 发音 -->
                               <div class="send-voice send-voice-02 send-voice-ani-01">
                                   <i class="ib pointer pointer02" id="pointer02"></i>
                                   <span class="microphone-blue-main">

                                       <i class="ib ui-img microphone-blue">
                                           <i class="ib microphone-wave-wrap">
                                               <span class="ib microphone-wave"></span>
                                           </i>

                                       </i>
                                   </span>

                               </div>

                               <!-- 选择时间 -->
                               <div class="send-time send-time-ani-01">

                                   <i class="ib pointer pointer03" id="pointer03"></i>

                               </div>

                           </div>
                    </div>

                </div>

                <div class="db-cell-middle text-right">
                    <h2 class="title-font">
                        贴心的功能,<span class="active">简易</span>的操作<br/>
                        让互动更直接
                    </h2>

                    <div class="fun">
                        <span class="ib ui-img camera"></span>
                        <span class="ib ui-img microphone"></span>
                        <span class="ib ui-img timer"></span>
                    </div>

                </div>
            </div>
        </div>


    </section>

</div>
<div id="page04" class="section">

    <section class="bg bg-04">


        <div class="container">
            <div class="db">
                <div class="db-cell-middle">
                    <h2 class="title-font">
                        <span class="active">暖心</span>的交流
                    </h2>
                    <p class="title-font-heart">建立家长与老师的沟通桥梁</p>
                </div>
                <div class="db-cell-middle text-right">


                    <div class="clearfix ib chat-info text-left" style="margin-right: 100px;">
                        <div class="ib chat-hd chat-hd-01">
                            <img src="../static/imgs/head-01.png" class="res-img"/>
                        </div>
                        <div class="ib chat-message-01">
                            <span class="user-name">王丹老师</span>

                            <p class="white-chat ui-img ">
                                   <span class="ib">
                                        孩子最近进步很大，多多鼓励孩子
                                   </span>
                            </p>
                        </div>
                    </div>


                    <div class="clearfix ib chat-info blue" style="margin-top: 40px;">

                        <div class="ib chat-message-02">
                            <div class="text-right">
                                <span class="user-name">何川的妈妈</span>
                            </div>
                            <p class="blue-chat ui-img text-left ">
                                   <span class="ib">
                                        谢谢老师，您辛苦了！
                                   </span>
                            </p>
                        </div>
                        <div class="ib chat-hd chat-hd-02">
                            <img src="../static/imgs/head-02.png" class="res-img"/>
                        </div>
                    </div>

                    <!-- other head -->
                    <div class="chat-list-head">
                            <span class="ib">
                                <img src="../static/imgs/head-03.png" class="res-img"/>
                            </span>
                             <span class="ib">
                                <img src="../static/imgs/head-04.png" class="res-img"/>
                            </span>
                             <span class="ib">
                                <img src="../static/imgs/head-05.png" class="res-img"/>
                            </span>
                             <span class="ib last">
                                <img src="../static/imgs/head-06.png" class="res-img"/>
                            </span>
                    </div>

                </div>
            </div>
        </div>


    </section>

</div>
<div id="page05" class="section">
    <section class="bg bg-05">

        <div class="container">
            <div class="db">
                <div class="db-cell-middle text-left">

                    <div class="ib circle-base">
                        <i class="ib safe-head-01">
                            <img src="../static/imgs/head-01.png" class="res-img">
                        </i>
                        <i class="ib safe-head-02">
                            <img src="../static/imgs/head-03.png" class="res-img">
                        </i>
                        <i class="ib safe-head-03">
                            <img src="../static/imgs/head-05.png" class="res-img">
                        </i>
                        <div class="ib ui-img big-circle">  </div>

                        <div class="ib  ui-img middle-circle">   </div>

                        <i class="ib ui-img safe"></i>
                    </div>


                </div>
                <div class="db-cell-middle text-right">
                    <h2 class="title-font">
                        <span class="ib class-reject">真实的班级&nbsp;,&nbsp;拒绝陌生人</span><br/>
                       <span ></span>共建 <span class="active">安全</span>的班级圈
                    </h2>

                    <div>
                        <span class="ib phone-ve">
                            手机实名认证
                        </span>
                         <span class="ib phone-ve">
                            班级码加入
                        </span>
                    </div>
                </div>
            </div>
        </div>


    </section>

</div>

<!-- 结尾 -->
<div class="section">
    <section class="bg bg-06">

        <div class="db">
            <div class="db-row bg-fa">
                <div class="db-cell-middle text-center">


                        <h1 class="last-page-title">
                            立即下载，体验不一样的沟通方式
                        </h1>

                        <ul class="last-nav">
                            <li>
                                <a class="ani" href="javascript:downFn('ios');">
                                    <span class="ib ui-img ios-icon"></span>

                                    <div class="text">iPhone</div>
                                </a>
                            </li>
                            <li>
                                <a class="ani" href="javascript:downFn('android');" class="android">
                                    <span class="ib ui-img android-icon"></span>

                                    <div class="text">Android</div>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <img src="../static/imgs/code.jpg" width="93" height="93" class="ib code"/>
                                </a>
                            </li>
                        </ul>




                </div>

            </div>

            <div class="db-row">
                <div class="db-cell-middle">
                    <footer >
                            <div class="text-center">
                                <div>
                                    <ul class="company ib">
                                        <li>
                                            <a href="javascript:void(0)">北京蝉鸣信息科技有限公司</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">联系我们</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)" class="last">用户协议</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="text-center">
                                <p class="copyright">
                                    Copyright © imzhiliao.com. All rights reserved
                                </p>
                                <p class="attention">
                                    关注我们
                                </p>
                            </div>
                    </footer>
                </div>
            </div>
        </div>
    </section>

</div>
</div>


</body>

<script type="text/javascript">
    seajs.use("service/index.js?v=106");
</script>
</html>