<!DOCTYPE html>
<html>
<head lang="zh-cn">

    <!-- 基本配置信息 -->
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta name="renderer" content="webkit">

    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <![endif]-->


    <!-- seo 优化部分 -->
    <meta name="title" content="知了官网 理解源自沟通"/>
    <meta name="keywords" content="知了 教育社交  教育  zhiliao 家校沟通  家校互动  即时通讯  中学 小学 初中 高中 家长 老师 交流 通讯 学生 作业 通知公告 学习 班级"/>
    <meta name="author" content="sherlock221b"/>
    <meta name="email" content="920825209@qq.com"/>
    <meta name="Description" content="知了 教育社交  教育  zhiliao 家校沟通  家校互动  即时通讯  中学 小学 初中 高中 家长 老师 交流 通讯 学生 作业 通知公告 学习 班级"/>


    <!--标题-->
    <title>知了官网·理解源自沟通</title>

    <!--reset css  -->
    <link href="../static/css/template/normalize.css" rel="stylesheet" type="text/css"/>

    <!--animate css  -->
    <link href="../static/css/template/animate.css" rel="stylesheet" type="text/css"/>

    <!--common css  -->
    <link href="../static/css/template/template.css" rel="stylesheet" type="text/css"/>


    <!-- fullpage -->
    <link href="../static/css/plugin/jquery.fullPage.css" rel="stylesheet" type="text/css"/>



    <!--[if lt IE 9]>
    <script type="text/javascript" src="../static/js/ie9/html5shiv.min.js"></script>
    <![endif]-->

    <!-- seajs -->
    <script type="text/javascript" src="../static/js/sea-modules/seajs/2.3.0/dist/sea.js"></script>
    <script type="text/javascript" src="../static/js/sea-modules/seajs_config.js"></script>

    <!--index css  -->
    <link href="../static/css/service/index.css" rel="stylesheet" type="text/css"/>

</head>
<body>



<div id="zhiliaoPage">
    <div class="section">

        <!--<header>-->
            <!--<section class="container">-->
                <!--<div class="clearfix height-ih ">-->
                    <!--<div class="pull-left height-ih db ">-->
                        <!--<div class="db-cell-middle">-->
                            <!--<i class="ui-img logo ">-->
                                <!--<span class="hidden-val">知了·理解源自沟通</span>-->
                            <!--</i>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<nav class="pull-right nav db">-->
                        <!--<ul class="ovh">-->
                            <!--<li class="active">-->
                                <!--<a href="javascript:void(0);">首页</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a href="javascript:void(0);">关于我们</a>-->
                            <!--</li>-->
                            <!--<li class="last-nav">-->
                                <!--<a href="javascript:void(0);">帮助中心</a>-->
                            <!--</li>-->
                        <!--</ul>-->
                    <!--</nav>-->
                <!--</div>-->
            <!--</section>-->
        <!--</header>-->

        <section class="bg bg-01">

            <div class="container">
                <div class="db">
                    <div class="db-cell-middle">
                        <h1 class="hidden-val zhiliao-font ui-img">知了</h1>
                        <h1 class="zhiliao-font-desc">最懂你的教育社交产品</h1>

                        <button class="dowload-btn">
                            下载
                        </button>

                        <div class="start-zhiliao text-center">
                            <p class="">开始了解知了</p>
                            <a class="ib hidden-val arrow-down ui-img">
                                go
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </section>

    </div>
    <div class="section">

        <section class="bg bg-02">

            <div class="container">
                <div class="db">
                    <div class="db-cell-middle">
                            <h2 class="title-font">
                                <span class="active">专注</span>
                                营造纯净的教育社交环境<br/>
                                告别无关的信息打扰
                            </h2>
                            <span class="ib timer-slice ui-img"></span>



                    </div>
                    <div class="db-cell-middle">
                        <img src="../static/imgs/iphone.png"  class="iphone-right" />
                    </div>
                </div>
            </div>
        </section>



        </section>

    </div>
    <div class="section">

        <section class="bg bg-03">


            <div class="container">
                <div class="db">
                    <div class="db-cell-middle">
                        <img src="../static/imgs/iphone_700.png"  class="iphone-left" />
                    </div>
                    <div class="db-cell-middle text-right">
                        <h2 class="title-font">
                            贴心的功能,<span class="active">简易</span>的操作<br/>
                            让互动更直接
                        </h2>
                        <div class="fun">
                            <span class="ib ui-img camera"></span>
                            <span class="ib ui-img microphone"></span>
                            <span class="ib ui-img timer"></span>
                        </div>
                    </div>
                </div>
            </div>


        </section>

    </div>
    <div class="section">

        <section class="bg bg-04">


            <div class="container">
                <div class="db">
                    <div class="db-cell-middle">
                        <h2 class="title-font">
                            <span class="active">暖心</span>
                            的交流<br/>
                            建立家长与老师的沟通桥梁
                        </h2>
                    </div>
                    <div class="db-cell-middle text-right">


                        <div class="clearfix ib chat-info text-left" style="margin-right: 100px;">
                            <div class="ib chat-hd">
                                <img src="../static/imgs/head-01.png" class="res-img"/>
                            </div>
                            <div class="ib">
                                <span class="user-name">王丹老师</span>
                                <p class="white-chat ui-img ">
                                   <span class="ib">
                                        孩子最近进步很大，多多鼓励孩子
                                   </span>
                                </p>
                            </div>
                        </div>


                        <div class="clearfix ib chat-info blue" style="margin-top: 40px;">

                            <div class="ib">
                                <div class="text-right">
                                    <span class="user-name">何川的妈妈</span>
                                </div>
                                <p class="blue-chat ui-img text-left ">
                                   <span class="ib">
                                        谢谢老师，您辛苦了！
                                   </span>
                                </p>
                            </div>
                            <div class="ib chat-hd">
                                <img src="../static/imgs/head-02.png" class="res-img"/>
                            </div>
                        </div>

                        <!-- other head -->
                        <div class="chat-list-head">
                            <span class="ib">
                                <img src="../static/imgs/head-03.png" class="res-img" />
                            </span>
                             <span class="ib">
                                <img src="../static/imgs/head-04.png" class="res-img" />
                            </span>
                             <span class="ib">
                                <img src="../static/imgs/head-05.png" class="res-img" />
                            </span>
                             <span class="ib last">
                                <img src="../static/imgs/head-06.png" class="res-img" />
                            </span>
                        </div>

                    </div>
                </div>
            </div>


        </section>

    </div>
    <div class="section">
        <section class="bg bg-05">

        </section>

    </div>

    <!-- 结尾 -->
    <div class="section">
        <section class="bg bg-06">

            <div class="container">
                <div class="db">
                    <div class="db-cell-middle text-center">


            <h1 class="last-page-title">
                立即下载，体验不一样的沟通方式
            </h1>

            <ul class="last-nav">
                <li>
                    <a href="javascript:void(0)">
                        <i class="ib ui-img ios-icon"></i>
                        iPhone
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <i class="ib ui-img android-icon"></i>
                        Android
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <img src="../static/imgs/code.jpg" width="93" height="93" />
                    </a>
                </li>
            </ul>


                     </div>
                    </div>
                </div>



        </section>
    </div>
</div>



</body>

<script type="text/javascript">
    seajs.use("service/index");
</script>
</html>