<!DOCTYPE html>
<html>
<head lang="zh-cn">

    <!-- 基本配置信息 -->
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="renderer" content="webkit" />
    <!--[if lt IE 9]>
    <link href="../static-imzhiliao/imgs/favicon-16_16.ico" type="image/x-icon" rel=icon/>
    <link href="../static-imzhiliao/imgs/favicon-16_16.ico" type="image/x-icon" rel="shortcut icon"/>
    <![endif]-->
    <link href="../static-imzhiliao/imgs/favicon-32_32.ico" type="image/x-icon" rel=icon />
    <link href="../static-imzhiliao/imgs/favicon-32_32.ico" type="image/x-icon" rel="shortcut icon" />


    <!-- seo 优化部分 -->
    <meta name="title" content="知了官网 理解源自沟通"/>
    <meta name="keywords" content="知了 教育社交  教育  zhiliao 家校沟通  家校互动  即时通讯  中学 小学 初中 高中 家长 老师 交流 通讯 学生 作业 通知公告 学习 班级"/>
    <meta name="author" content="sherlock221b"/>
    <meta name="email" content="920825209@qq.com"/>
    <meta name="Description" content="知了 教育社交  教育  zhiliao 家校沟通  家校互动  即时通讯  中学 小学 初中 高中 家长 老师 交流 通讯 学生 作业 通知公告 学习 班级"/>

    <!-- 防止缓存 -->
    <meta HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <meta HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
    <meta HTTP-EQUIV="Expires" CONTENT="0">

    <!--标题-->
    <title>知了·理解源自沟通</title>

    <!-- seajs -->
    <script type="text/javascript" src="../static-imzhiliao/js/sea-modules/seajs/2.3.0/dist/sea.js"></script>
    <script type="text/javascript" src="../static-imzhiliao/js/sea-modules/seajs_config.js"></script>

    <!-- cicada -->
    <link href="../static-imzhiliao/css/template/module.css?v=116" rel="stylesheet" type="text/css"/>

    <!--mobile css  -->
    <link href="../static-imzhiliao/css/service/mobile.css?v=116" rel="stylesheet" type="text/css"/>

    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded",
                function() {
                    var  cicadaBg = document.getElementById("cicada-bg");
                    cicadaBg.style.display = "block";
                }, false);
    </script>

</head>
<body>

    <header>
        <div>
            <div>
                <img src="../static-imzhiliao/imgs/mobile/header-bg.jpg" class="res-img" />
            </div>
            <section class="text-center logo" id="cicada-bg">
                <div class="ib cicada-sprite cicada-logo-bg" >
                    <i class="ib cicada-sprite cicada-blue"></i>
                    <i class="ib cicada-sprite cicada-og"></i>
                </div>
            </section>

        </div>
        <div class="text-center">
            <div>
                <h1 class="ib  cicada-sprite cicada-title">
                    <i class="hidden-val">知了Cicada</i>
                </h1>
            </div>

            <div>
                <p class="ib   cicada-sprite cicada-desc">
                    <i class="hidden-val">最懂你的教育社交</i>
                </p>
            </div>
        </div>


        <div class="text-center btn-top-dw">
            <button type="button" class="btn-primary btn btn-dw"></button>
        </div>

    </header>

    <section>
            <img src="../static-imzhiliao/imgs/mobile/info.jpg" class="res-img" />
    </section>

    <footer>



        <div class="text-center btn-bottom-dw">
            <button type="button" class="btn-primary btn btn-dw "></button>
        </div>

        <div class="text-center">
            <ul class="follow-me">
                <li class="ib"><a href="http://weibo.com/imzhiliao" class="weibo">新浪微博</a></li>
                <li class="ib"><a href="http://weixin.qq.com/r/a0wsNH-EniLhrTtX9xl5">zhiliaok12</a></li>
            </ul>
        </div>

    </footer>



</body>
<script type="text/javascript">
    seajs.use("../static-imzhiliao/js/service/mobile")
</script>
</html>